{{#each this}}
<li class="search-item-card">
    <h2 class="country-title">{{name}}</h2>
    <p class="country-data"><span class="country-feature">Capital: </span>{{capital}}</p>
    <p class="country-data"><span class="country-feature">Population: </span>{{population}}</p>
    <p class="country-data"><span class="country-feature">Language: </span></p>
    <ul class="list country-languages">
        {{#each this.languages}}
        <li class="country-language-item">{{name}}</li>
        {{/each}}
    </ul>
    <img class="country-flag" src="{{flag}}" alt="" width="320">
</li>
{{/each}}